{% extends "layout.html" %}

{% block title %}Question 1{% endblock %}

{% block heading %}Question 1{% endblock %}

{% block body %}
<p>Which of the following statements about a satellite in an elliptical orbit around Earth are correct?</p><br>

 <form action={{ url_for("renderQuestion2") }} method="POST">
  <input type="radio" id="1" name="answer1" value="1" required>
  <label for="1">a) The satellite’s kinetic energy is constant throughout the orbit. </label><br>
  <input type="radio" id="2" name="answer1" value="2">
  <label for="2">b) The satellite’s velocity about the center of mass of the satellite-Earth system is constant throughout the orbit.</label><br>  
  <input type="radio" id="3" name="answer1" value="3">
  <label for="3">c) The magnitude of the satellite’s linear momentum is constant throughout the orbit. </label><br>
  <input type="radio" id="4" name="answer1" value="4">
  <label for="4">d) The gravitational potential energy of the Earth-satellite system is greatest at the satellite’s farthest point from Earth. </label><br><br>
  <input type="submit" value="Next">
 </form> 

{% endblock %}

<!--4-->